.fade-in-up-container {
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-up-heading {
  opacity: 1;
  transform: translateY(0); 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
}
}
